{% set tick = '<svg class="tick" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 4.5L3.73167 7.61701C4.08842 8.25915 4.9926 8.31036 5.41957 7.71261L9.5 2" stroke="black" stroke-width="3" stroke-linecap="round"/></svg>' %}

<a class="card {{ '' if entry.status == 'ready' else 'disabled' }}" href="/watch?id={{ key }}">
	<img class="cover" src="{{ entry.cover }}" />
	<div class="shadow"></div>
	<div class="content">
		<div class="labels">
			<p class="label">{{ '' if entry.watched is none else tick }}EP {{ entry.episode }}</p>
			<p class="label secondary {{ 'hidden' if entry.status == 'ready' else '' }}">{{ entry.status }}</p>
		</div>
		<p class="title">{{ key[5:] | e }}</p>
	</div>
</a>
