<div class="navbar">
	<a href="/" class="logo">
		<img src="logo.svg" alt="Aniv/t" />
	</a>
	<img id="pfp" onclick="logout()" />
</div>

<style>
	.navbar {
		display: flex;
		justify-content: center;
		padding: var(--spacing-m);
		background-color: var(--bg);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0 10px 10px 0 var(--bg);
	}
	.logo {
		display: flex;
	}
	#pfp {
		margin-left: auto;
		height: 34px;
		border-radius: var(--rd);
		cursor: pointer;
	}
</style>

<script>
	fetch('/api/pfp')
		.then((res) => res.json())
		.then((data) => {
			document.getElementById('pfp').src = data.pfp
		})

	async function logout() {
		sure = confirm('Do you really want to log out?')
		if (sure) {
			window.location.href = '/api/logout'
		}
	}
</script>
