<div class="navbar">
	<a href="/" class="logo">
		<img src="logo.svg" alt="Aniv/t" />
	</a>
	<img id="pfp" />
	<button class="dropdownToggle" onclick="dropdown()">
		<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 2H21.5M2 10H21.5M2 18H21.5" stroke="#D9D9D9" stroke-width="3" stroke-linecap="round" />
		</svg>
	</button>
	<div id="dropdown" class="hidden">
		<button class="dropdownOption logout" onclick="logout()">Logout</button>
		<a href="/dashboard" class="dropdownOption">Dashboard</a>
		<!-- <a href="/watchlist" class="dropdownOption">Watchlist</a>
		<a href="/profile" class="dropdownOption">Profile</a> -->
	</div>
</div>

<style>
	.navbar {
		display: flex;
		justify-content: center;
		padding: var(--spacing-m);
		background-color: var(--bg);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0 10px 10px 0 var(--bg);
	}
	.logo {
		display: flex;
	}
	#pfp {
		margin-left: auto;
		height: 34px;
		border-radius: var(--rd);
		cursor: pointer;
	}
	.logout {
		color: #ff7d7d;
	}
	.dropdownOption {
		background-color: var(--sf);
		border-top: 1px solid var(--bd);
		font-size: 1.125rem;
		padding: 6px 20px;
		width: 100%;
		text-align: center;
		cursor: pointer;
		box-sizing: border-box;
	}
	.dropdownOption:first-child {
		border-top: none;
	}
	#dropdown {
		border-radius: var(--rd);
		overflow: hidden;
		height: auto;
		width: auto;
		position: absolute;
		top: calc(var(--spacing-m) + 34px + var(--spacing-s));
		right: var(--spacing-m);
		border: 1px solid var(--bd);
		box-shadow: 0 0 10px 0 #00000080;
		display: flex;
		flex-direction: column;
	}
	.hidden {
		display: none !important;
	}
	.dropdownToggle {
		margin-left: var(--spacing-m);
	}
</style>

<script>
	fetch('/api/pfp')
		.then((res) => res.json())
		.then((data) => {
			document.getElementById('pfp').src = data.pfp
		})

	async function logout() {
		window.location.href = '/api/logout'
	}

	function dropdown() {
		document.getElementById('dropdown').classList.toggle('hidden')
	}
</script>
