<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/auth.css" />
		<link rel="shortcut icon" href="/assets/icon.svg" type="image/x-icon" />
		<title>Aniv/t</title>
	</head>
	<body>
		<div id="auth">
			{% if message %}
			<p class="message {{ type }}">{{ message }}</p>
			{% endif %} {% if details %}
			<p class="message">{{ details }}</p>
			{% endif %} {% if redirect %}
			<p class="message">Redirecting...</p>
			<script>
				setTimeout(function () {
				    location.href = "/"
				}, {{ delay }})
			</script>
			{% endif %}
		</div>
	</body>
</html>