@font-face {
	font-family: 'Outfit';
	src: url('Outfit.ttf') format('truetype');
}

:root {
	--bg: #101010;
	--fg: #d9d9d9;
	--rd: 10px;
	--bd: #252525;
	--sf: #1a1a1a;
	--spacing-s: 10px;
	--spacing-m: 20px;
	--spacing-b: 40px;
}

body {
	margin: 0;
	background-color: var(--bg);
}
* {
	font-family: 'Outfit', sans-serif;
	color: var(--fg);
}
p {
	margin: 0;
}
button {
	background: none;
	border: none;
	outline: none;
}
a {
	text-decoration: none;
}
a:visited {
	color: unset;
}

.main {
	padding: var(--spacing-m);
	display: flex;
	justify-content: space-evenly;
	gap: var(--spacing-m);
}
.popup {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	background-color: #10101080;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popupBox {
	background-color: var(--sf);
	border-radius: var(--rd);
	border: 1px solid var(--bd);
	padding: var(--spacing-m);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popupHeader {
	font-size: 1.25rem;
	margin: 10px 0 20px 0;
}
.popupBox a {
	color: #7d7dff;
}
@media screen and (max-width: 630px) {
	.main {
		flex-direction: column;
	}
}
